{% load static %}
<html>
<head>
<title>Monopoly</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/mystile.css'%}">
</head>

<body>
{% block menu %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/board/">
    <img src="{% static 'images/Atom_1.0_icon.png'%}" width="75" height="75" alt="">
    Monopoly
  </a>
</nav>
{% endblock %}
<div class="content" style="max-width: 875px; margin: auto;">
  <div class="row">
    <div class="column left">
      {% block mainbody %}
      {% endblock %}
    </div>
    <div class="column right">
      {% block operations %}
      {% endblock %}
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
