.t2 {
  background-color: azure;
}


.operations, .transactions {
  border: lightblue;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-top: 15px;
  margin-top: 30px;
}

.normal_button {
  padding: 7px;
}

.column {
  float: left;
}

.left {
  width: 75%;
  padding-right: 25px;
}

.right {
  width: 25%;
}
