{% extends "base.html" %}
{% block mainbody %}
<p>Turn: (player whose roll it is) {{ board_player_turn }}</p>

{% for player in players %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Player id</th>
      <th scope="col">Player Cash</th>
      <th scope="col">Player position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>P{{ player.id }}</td>
      <td>{{ player.cash }} €</td>
      <td>{{ player.posX }}</td>
    </tr>
  </tbody>
</table>

<table class="table t2">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Owner</th>
      <th scope="col">Property</th>
      {% ifnotequal board_player_turn player.id %}
      <th scope="col">Player/landing chance</th>
      {% endifnotequal %}
    </tr>
  </thead>
  {% for property in player.properties %}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter0}}</th>
      <td>P{{player.id}}</td>
      <td>{{ property.1 }}</td>
      {% ifnotequal board_player_turn player.id %}
        {% for landing_chance in player.landing_chances_properties %}
          <!-- <p> {{ property.0 }} | {{ landing_chance.3 }} </p> -->
          {% ifequal property.0 landing_chance.3 %}
          <!-- seems there is a problem with how landing_chance[0] is emitted -->
            <td> P{{ landing_chance.0 }} | {{ landing_chance.2 }} </td>
          {% endifequal %}
        {% endfor %}
      {% endifnotequal %}
      <!-- could be the place for another probability column -->
      <!-- for item in player.landing_chances_properties -->
      <!-- if equals item.0 ... property.ID (property.0) -->
      <!-- player-chance pair -->
    </tr>
  </tbody>
  {% endfor %}
</table>

{% endfor %}

<form method=POST class="normal_button">
{% csrf_token %}
<p>Automatic transactions</p>
<select id="auto_mode" name="auto_mode">
  <option value="AutoOn" {% ifequal auto_mode_def "AutoOn" %} selected {% endifequal %} >Enabled</option>
  <option value="AutoOff" {% ifequal auto_mode_def "AutoOff" %} selected {% endifequal %}  >Disabled</option>
</select>

<input type="submit" name="roll" value="Roll" />
</form>

<form method=POST class="normal_button">
{% csrf_token %}
<input type="submit" name="reset" value="RESET" />
</form>
{% endblock %}

{% block operations %}
<!-- manual operations (to be moved to right column) -->
<div class="operations">
<form method="POST">
  {% csrf_token %}
  <label for="player_id">Player ID:</label>
  <input type="text" id="player_id" name="player_id"><br>
  <label for="prop_name">Property name:</label>
  <input type="text" id="prop_name" name="prop_name"><br>
  <select id="operator" name="operator">
    <option value="Add">Add</option>
    <option value="Remove">Remove</option>
  </select>
  <input type="submit" value="Modify">
</form>
</div>

<div class="transactions">
<form method="POST">
  {% csrf_token %}
  <label for="sending_player_id">Sending player ID:</label>
  <input type="text" id="sending_player_id" name="sending_player_id"><br>
  <label for="receiving_player_id">Receiving player ID:</label>
  <input type="text" id="receiving_player_id" name="receiving_player_id"><br>
  <label for="transaction_value">Value: </label>
  <input type="text" id="transaction_value" name="transaction_value"><br>

  <input type="submit" value="Send">
</form>
</div>

<div class="manualdice">
<form method="POST">
  {% csrf_token %}

  <label for="dice_value">Dice value: </label>
  <input type="text" id="dice_value" name="dice_value"><br>
  <input type="submit" value="Manual roll">

</form>
</div>

{% endblock %}
